.header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  letter-spacing: 0.1rem;
  padding: 1.5rem 7rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;

  @media screen and (max-width: 1199px) {
    padding: 0 3rem;
  }

  @media screen and (max-width: 1199px) {
    padding: 1rem 2rem;
  }

  &_card {
    @include card;
  }

  >* {
    margin: 0 1.5rem;
  }
}

.header__logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin: 0 1.5rem 0 0;

  img {
    flex: 0 0 auto;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
    @media screen and (max-width: 1139px) {
      display: none;
    }
    @media screen and (max-width: 991px) {
      display: flex;
    }
    @media screen and (max-width: 575px) {
      display: none;
    }
    @media screen and (max-width: 420px) {
      display: flex;
    }

    h3 {
      margin: 0.2rem 0;
      font-size: 100%;
    }

    small {
      @include text-muted;
      letter-spacing: normal;
    }
  }
}

.header__nav {
  flex: 0 1 auto;
  @media screen and (max-width: 991px) {
    order: 3;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    @media screen and (max-width: 991px) {
      display: none;
    }

    li {
      flex: 0 0 auto;
      text-decoration: none;
      margin: 0 1.5rem;
      height: 36px;
      line-height: 36px;
      @include text-muted;
      
      a {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        font-size: 1.3rem;
      }
    }

    li.active, li:hover {
      opacity: 1.0;
    }
  }

  &_responsive {
    ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      align-items: center;
      @include card;
      box-shadow: 0 9px 12px rgba(0, 0, 0, 0.1);
      
      li {
        margin: 2rem 0;
      }
    }
  }

  button {
    @include btn-reset;
    @include text-muted;
    color: $blue;
    font-size: 2rem;
    display: none;

    @media screen and (max-width: 991px) {
      display: block;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.header__search {
  flex: 1 0 auto;

  form {
    margin-bottom: 0;
    @include text-muted;
    display: flex;
    background-color: #f7f8fd;
    padding: 1rem;
    @include rounded-corners;

    @media screen and (max-width: 767px) {
      max-width: 240px;
    }

    @media screen and (max-width: 419px) {
      display: none;
    }

    button {
      flex: 0 0 auto;
      border: none;
      opacity: 0.6;
      background-color: transparent;
      margin-right: 0.5rem;
    }

    input {
      flex: 1 0 auto;
      background-color: #f7f8fd;
      border: none;
      outline: none;
    }
  }
}

.header__avatar {
  flex: 0 0 auto;
  position: relative;
  margin: 0 0 0 1.5rem;

  @media screen and (max-width: 991px) {
    display: none;
  }

  img {
    width: 44px;
    height: 44px;
  }

  div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0) 40%);
  }
}
