.header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  letter-spacing: 0.1rem;
  padding: 1.5rem 7rem;

  &_card {
    @include card;
  }

  >* {
    margin: 0 1.5rem;
  }
}

.header__logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin: 0 1.5rem 0 0;

  img {
    flex: 0 0 auto;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;

    h3 {
      margin: 0.2rem 0;
      font-size: 100%;
    }

    small {
      @include text-muted;
      letter-spacing: normal;
    }
  }
}

.header_nav {
  flex: 0 0 auto;
  
  ul {
    display: flex;
    padding-left: 0;
    list-style-type: none;

    li {
      flex: 0 0 auto;
      text-decoration: none;
      margin: 0 1.5rem;
      @include text-muted;
      
      a {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        font-size: 1.3rem;
      }
    }

    li.active, li:hover {
      opacity: 1.0;
    }
  }
}

.header__search {
  flex: 1 0 auto;

  form {
    margin-bottom: 0;
    @include text-muted;
    display: flex;
    background-color: #f7f8fd;
    padding: 1rem;
    @include rounded-corners;

    button {
      flex: 0 0 auto;
      border: none;
      opacity: 0.6;
      background-color: transparent;
      margin-right: 0.5rem;
    }

    input {
      flex: 1 0 auto;
      background-color: #f7f8fd;
      border: none;
      outline: none;
    }
  }
}

.header__avatar {
  flex: 0 0 auto;
  position: relative;
  margin: 0 0 0 1.5rem;

  img {
    width: 44px;
    height: 44px;
  }

  div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0) 40%);
  }
}
