.main {
  flex: 1 0 auto;
  display: flex;
  margin: 3.5rem 7rem;

  @media screen and (max-width: 991px) {
    margin: 2.5rem 2rem;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin: 2rem 3rem;
  }

  @media screen and (max-width: 480px) {
    margin: 2.5rem 0.5rem;
  }
}

.main__sidebar {
  flex: 0 1 397px;
  display: flex;
  min-height: 588px; 

  @media screen and (max-width: 767px) {
    flex-basis: auto;
  }

  &_card {
    @include card;
    @include rounded-corners;
  }
}

.main__content {
  flex: 1 1 auto;
  margin-left: 3.5rem;
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-top: 2.5rem;
  }
}