.map {
  overflow: hidden;
  flex: 1 1 100%;

  @media screen and (max-width: 767px) {
    height: 320px;
  }

  &_card {
    @include card;
    @include rounded-corners;
  }
}

.gmnoprint, .gm-fullscreen-control,
.gm-style-cc {
  display: none;
}
