$grey-background: #e7f3ff;
$white: rgb(255,255,255);
$red: rgb(255,0,0);
$black: rgb(0,0,0);
$blue: rgb(0,0,255);

$border: 1px solid rgba(0,0,0,0.05);

@mixin card {
  background-color: $white;
  box-shadow: 0 0 24px rgba(0,0,0,0.10);
}

@mixin text-muted {
  opacity: 0.5;
}

@mixin rounded-corners {
  border-radius: 8px;
}

@mixin card-padding {
  padding: 2rem 3rem;
}

@mixin btn-reset {
  cursor: pointer;
  background: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}
